<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name ="Aula05" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Gabriel\source\repos\dev.net04\Aula04\Projeto1\App_Data\Banco.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>